div#body {
    padding-top: 3%;
}

div#body h1 {
    color: black;
}

a.sponsor-link-lakshya {
    color: black;
    text-decoration: none;
    transition: 0.3s color;
}

a.sponsor-link-lakshya:hover {
    /* text-decoration: underline; */
    color: gray;
    cursor: pointer;
}

span.link-text {
    display: inline-block;
}

a.sponsor-link-lakshya span.link-text::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}
  
a.sponsor-link-lakshya:hover span.link-text::after {
    width: 100%;
    background: gray;
}

a.upArrow {
    display: block;
    text-decoration: none;
    position: fixed;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
    bottom: 3vw;
    right: 3vw;
    background-color: rgba(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.2s background-color, 0.2s color;
}

a.upArrow:hover {
    color: white;
    background-color: rgba(140, 140, 140);
}