video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
div#header {
    /* Code to be added later */
    /* background-image: url(/public/poster.jpg); */
    /* background-image: url(/public/videos/video.mp4); */
    background-size: cover;
    background-attachment: fixed;
    /* background-color: beige; */
    padding-top: 12%;
    padding-bottom: 12%;
    /* height: 100vh; */
}

div#header h1.title {

    font-size: 3.75em;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    
}


h1 {

    font-size: 1.75em;
    color: #fff;

    
}

.title {
    font-size: 800px;
    color: #fff;
    text-align: center;
    
    /* -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate; */
  }
  
  /* @keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #e9ec23, 0 0 40px #e9ec23, 0 0 50px #e9ec23, 0 0 60px #e9ec23, 0 0 70px #e9ec23;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e8f3a8, 0 0 40px #e8f3a8, 0 0 50px #e8f3a8, 0 0 60px #e8f3a8, 0 0 70px #e8f3a8, 0 0 80px #e8f3a8;
    }
  } */

@media only screen and (min-width: 650px) {
    div#header h1.title {
        font-size: 8em;
        
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 10px rgb(255, 255, 255);
    }

    div#header {
        padding-top: 8%;
    }
}

div.container-fluid .container {
    z-index: 1;
    border-radius: 20px;
}

/* div.container-fluid {
    height: 54px;
    content: "";
    display:block;
} */

div#about {
    background-image: linear-gradient(to right, rgb(10, 2, 43) , rgb(12, 7, 85));
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(6, 3, 41); */
}

div#about .container {
    background-color: rgba(26, 118, 199, 0.507);
    color: rgb(211, 208, 235);
    z-index: 1;
    border-radius: 20px;
    padding: 30px;
}

div#schedule .container {
    background-color: rgba(10, 2, 43, 0.623);
}

div#sponsors,
div#partners {
    background-color: #fff;
    color: black;
}

div#events,
div#schedule {
    background-image: url(/public/poster.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bh{
    color: black;
}

div#eventscard,
div#partnercard,
div#sponsercard {
    display: flex;
    justify-content: center;
}
/* Generic colors added for testing section sizes */