div#eventHeader {
    /* Code to be added later */
    background-image: url(/public/eventdesc.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-color: beige;
    padding-top: 18%;
    padding-bottom: 10%;
    /* height: 100vh; */
}

div#eventHeader h1.title {
    font-size: 3.75em;
    text-shadow: 2px 1px 10px rgb(0, 0, 0);
}

@media only screen and (min-width: 650px) {
    div#eventHeader h1.title {
        font-size: 8em;
    }

    div#eventHeader {
        padding-top: 8%;
    }
}

div#eventSchedule {
    background-image: url(/public/divbg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    align-items: center;
}

div#eventSchedule .container {
    background-color: rgba(255, 255, 255, 0.144);
}

div#eventSchedule .sched {
    font-size: 4em;
    color: white;
	/* -webkit-text-stroke: 1px #ffffff; */
}

div#eventDescription {
    background-image: linear-gradient(to right, rgb(10, 2, 43) , rgb(12, 7, 85));
}

div#eventDescription .container {
    background-color: rgba(26, 118, 199, 0.507);
    color: rgb(211, 208, 235);
    z-index: 1;
    border-radius: 20px;
}

div.eventPage .btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

div.last {
    padding: 50px;
    background-image: linear-gradient(
        100deg,
        rgba(0, 181, 253, 0.13) 40%,
        rgba(61, 53, 134, 0.13) 60%
    );
}


div#eventPrizePool .ppool {
    font-size: 4em;
    font-weight: bolder;
    background-image: url(/public/text.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#eventFormat {
    margin-top: 60px;
    /* margin-bottom: 20px; */
}

div#eventFormat .format {
    font-size: 4em;
    font-weight: bolder;
    background-image: url(/public/text.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
